@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100vh;
  background-color: var(--color-bg-dark);
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

main {
  background-color: var(--color-bg-dark);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  background-color: var(--color-bg-dark);
}

@layer base {
  :root {
    /* Text Colors */
    --color-text-primary: #ffffff;
    --color-text-secondary: #000000;
    --color-text-muted: #b0b0b0;

    /* Background Colors */
    --color-bg-darker: #1c1819;
    --color-bg-dark: #231f20;
    --color-bg-light: #f5f5f5;

    /* Action/State Colors */
    --color-primary: #49eacb;
    --color-secondary: #628983;
    --color-hover-primary: #8cffe0;

    /* Additional Colors */
    --color-error: #f87171;
    --color-error-muted: #b33a3a;
    --color-success: #34d399;
    --color-warning: #ffd166;
    --color-light-muted: #757575;
    --color-muted: #606060;
    --color-slight-muted: #393939;
    --color-muted-dark: #2a2627;
  }
}

.font-rubik {
  font-family: 'Rubik', sans-serif;
}

.fade-animation {
  animation: fadeEffect 0.2s ease-in-out;
}

@keyframes fadeEffect {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
